*{
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

#content .sidebar {
	position: fixed;
	background: #DBF1BC;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	height: 100%;
	width: 100px;
}

#sidebar1 {
	position: relative;
	top: 320px;	
}

#content .sidebar ul li {
	text-align: center;
	padding: 15px;
}

#content .sidebar ul li:hover{
	background: #CCDFB0;
}

.heading {
	color: #757E68;
	font-size: 50px;
	padding: 150px;
	background-color:#E2F6C4;
	width: 100%;
	padding-bottom: 170px;
	text-align: left;
}
.heading h1 {
	font-weight: bold;
	font-size: 50px;
}

.heading p {
	font-size: 23px;
	font-family: Sans Serif;
	text-align: left;
	padding-left: 3px;
}

.logo {
	position: top;
	padding-right: 70px;
	float: right;
}

.posted .pic {
	padding: 20px;
	text-align: center;	
	background-color:#EAFFCB;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-color:#C2D4A8;
	border-width: 3px;
	border-radius: 25px;
	width: 1100px;
	position: relative;
	left: 160px;
	margin-bottom: 80px;
	margin-top: 80px;
	margin-left: 20px;
}

#footer {
	clear:both;
	background-color:#E2F6C4;
}

#footer p {
	text-align: center;
}
